## 2024-12-24

In [12]:
movie_rank=['닥터','스플릿','럭키']
movie_rank.append('베트맨')
movie_rank.insert(1,'슈퍼맨')
movie_rank.pop(3)
movie_rank.pop(2)
movie_rank.pop(2)
print(movie_rank)

['닥터', '슈퍼맨']

In [13]:
temp=('apple','banana','cake')
a,b,c=temp
print(a,b,c)

apple banana cake

In [14]:
phone_number='010-1234-5678'
phone_number1=phone_number.replace('-'," ")
print(phone_number1)

010 1234 5678

In [17]:
a='박지민'
b=float(178.5)
c=int(28)

print('name=',a,'height=',b,'age=',c)

name= 박지민 height= 178.5 age= 28

In [40]:
a,b,c=input().split()
s=int(a)+int(b)+int(c)
print(s)

25

In [39]:
a,b,c=input().split()
b=float(b)
c=int(c)

print(type(a),type(b),type(c))
print('name=',a,'height=',b,'age=',c)

<class 'str'> <class 'float'> <class 'int'>
name= 박지민 height= 178.5 age= 27

In [29]:
a, b, c = input("Enter name, height, and age separated by spaces: ").split()
b = float(b)
c = int(c)

print(type(a), type(b), type(c))
print(f"name={a} height={b} age={c}")

<class 'str'> <class 'float'> <class 'int'>
name=박지민 height=178.5 age=28

In [38]:
d={'kim':34000,'lee':12000,'park':1200,'lew':0,'song':3420}
list(d.values())

[34000, 12000, 1200, 0, 3420]

In [32]:
d={'kim':34000,'lee':12000,'park':1200,'lew':0,'song':3420}
sum(d.values())

50620

In [45]:
def  make_list(string):
    return(list)
result=make_list("abcd")
for char in result():
    print(char)

In [50]:
def make_list(string):
    return list(string)
result=make_list('abcd')
for char in result:
    print(char,end='')

abcd

In [55]:
a=1
def vartest(a):     #얘는 매개변수야. 이름이 a가 아닌 다른걸로 바꿔도 노상관관
    a=a+1
vartest(a)              #제일 위 a 지역변수 전역변수
print(a)

1

In [59]:
def vartest(aa):
    aa=aa+1
vartest(3)
print(aa)

NameError: name 'aa' is not defined

In [58]:
a=1
def vartest():
    global a                   #return or global 사용
    a=a+1
vartest()
print(a)

2

#### map zip enumerate lambda

In [67]:
mylist=[1,2,3,4,5]

#모든 요소를 1씩 증가 시키는 것
result=[]
for i in mylist:
    result.append(i+1)

print(result)

[2, 3, 4, 5, 6]

In [62]:
mylist=[1,2,3,4,5]

#모든 요소를 1씩 증가 시키는 것
def add_one(n):
    return n+1

result=[]
for i in mylist:
    a=add_one(i)
    result.append(a)

print(result)

[2, 3, 4, 5, 6]

In [66]:
mylist=[1,2,3,4,5]

#모든 요소를 1씩 증가 시키는 것
def add_one(n):
    return n+1
result=list(map(add_one,mylist))

print(result)

[2, 3, 4, 5, 6]

In [68]:
f=(3.14,-5.625,100.4,25.8)
print(list(map(round,f)))

[3, -6, 100, 26]

In [73]:
r=(52,255,39,132)
g=(19,63,227,197)
b=(0,68,255,187)

#코드작성
img=list(zip(r,g,b))
print(img)

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [75]:
#enumerate

f=('apple','orange','banana','mango')
tag=dict(enumerate(f,1))         #인덱싱 안돼있는 친구들 인덱싱 가능. zip도 가능하긴함.
print(tag)

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'mango'}

In [81]:
def f(x):
  return(6<x<10)             #x>5 and x<10
    #to do your code here
a=[8,3,2,10,15,7,1,9,0,11]
list(filter(f,a))

[8, 7, 9]

In [83]:
numbers=(1,2,3,4)
print(list(map(lambda x:x**2,numbers)))

[1, 4, 9, 16]

In [84]:
numbers=(1,2,3,4)
squared=list(map(lambda x:x**2,numbers))
print(squared)

[1, 4, 9, 16]

In [87]:
numbers=(1,2,3,4,5)
even_numbers=list(filter(lambda x:x%2==0,numbers))
print(even_numbers)

[2, 4]

In [89]:
points=[(1,2),(3,4),(5,1)]
sorted_points=sorted(points,key=lambda x:x[1])
print(sorted_points)

[(5, 1), (1, 2), (3, 4)]

In [91]:
a=[3,7,32,9,7]         #고정값이 flase라서 오름차순

new_a=sorted(a, reverse=True)
print(a)
print(new_a)

[3, 7, 32, 9, 7]
[32, 9, 7, 7, 3]

In [94]:
a=['applemint','banana','cherry']         #고정값이 flase라서 오름차순

new_a=sorted(a,key=len)         #len은 요소의 개수를 리턴해줌줌
print(a)
print(new_a)

['applemint', 'banana', 'cherry']
['banana', 'cherry', 'applemint']

In [98]:
my_dict={3:'c',1:'a',2:'b'}

new_dict=sorted(my_dict)         #len은 요소의 개수를 리턴해줌
print(my_dict)
print(new_dict)

{3: 'c', 1: 'a', 2: 'b'}
[1, 2, 3]

In [102]:
my_dict={3:'c',1:'a',2:'b'}

new_dict=sorted(my_dict.items())         #len은 요소의 개수를 리턴해줌
print(my_dict)
print(new_dict)

{3: 'c', 1: 'a', 2: 'b'}
[(1, 'a'), (2, 'b'), (3, 'c')]

In [104]:
my_dict={3:'c',1:'d',2:'b'}

new_dict=sorted(my_dict.items(),key=lambda item:item[1])         #value로 뽑는법법
print(my_dict)
print(new_dict)

{3: 'c', 1: 'd', 2: 'b'}
[(2, 'b'), (3, 'c'), (1, 'd')]

In [105]:
points=[(1,2),(3,4),(5,1)]

sorted_points=sorted(points,key=lambda x:x[1])
print(sorted_points)

[(5, 1), (1, 2), (3, 4)]

#### 모듈

In [106]:
import math

In [107]:
math.pow(2,3)

8.0

In [108]:
from math import pow, sqrt
pow(2,5)
sqrt(9)

3.0

In [109]:
import math as m
m.pow(2,4)
m.sqrt(9)

3.0

In [110]:
from math import *

pow(2,5)
sqrt(9)

3.0

In [111]:
import random

# 1부터 45까지의 숫자 중에서 무작위로 6개를 선택
numbers = random.sample(range(1, 46), 6)

print(numbers)

[30, 24, 2, 35, 43, 44]

In [112]:
import random

numbers = []

while len(numbers) < 6:  # 원하는 개수인 6개가 될 때까지 반복
    num = random.randint(1, 45)
    if num not in numbers:  # 중복 확인
        numbers.append(num)

print(numbers)

[37, 29, 14, 25, 7, 9]

#### 클래스

In [124]:
class Dog:
    species="Doberman"                 #클래스 변수

    def __init__(self,name,age):            #self는 클래스 안에서 쓰는 인자. name,age는 외부 인자값이다.
        self.name=name                   #오브젝트
        self.age=age

    def bark(self):                 #클래스 매서드
        return f'{self.name}is barking'

In [114]:
dog1=Dog('happy',3)

In [123]:
type(dog1)

__main__.Dog

In [115]:
dog1.bark()

'happyis barking'

In [116]:
dog1.name

'happy'

In [117]:
dog1.age

3

In [118]:
dog2=Dog('max',5)

In [120]:
dog2.name

'max'

In [121]:
dog2.age

5

In [128]:
class FourCal:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def add(self):
        result=self.num1+self.num2
        return result
    def sub(self):
        result=self.num1-self.num2
        return result
    def mul(self):
        result=self.num1*self.num2
        return result
    def div(self):
        result=self.num1/self.num2
        return result

In [139]:
d=FourCal(5,0)

In [140]:
d.add()

5

In [141]:
d.pow()

AttributeError: 'FourCal' object has no attribute 'pow'

In [142]:
d.div()

ZeroDivisionError: division by zero

In [131]:
a=FourCal(7,3)
b=FourCal(4,2)

In [132]:
a.num1

7

In [133]:
a.sub()

4

In [134]:
class AdvencedFourCal(FourCal):
    def pow(self):
        return self.num1**self.num2

In [145]:
c= AdvencedFourCal(4,3)

In [147]:
c.pow()

64

In [148]:
class SafeFourCal(FourCal):
    def div(self):
        if self.num2==0:
            return 0
        else:
            result=self.num1/self.num2

In [149]:
e=SafeFourCal(5,0)
e.div()

0

In [ ]:
import turtle
import random

## 클래스 선언 부분 ##
class Shape: # 부모 클래스
    myTurtle = None
    cx, cy = 0, 0 # 사각형 및 원의 중심점.
    def __init__(self):
        self.myTurtle = turtle.Turtle('turtle') # 거북이 생성.

    def setPen(self) : # 펜 색상과 두께를 랜덤하게 뽑기
        r = random.random()
        g = random.random()
        b = random.random()
        self.myTurtle.pencolor((r, g, b))
        pSize = random.randrange(1,10)
        self.myTurtle.pensize(pSize) 

class Rectangle(Shape): # 자식 클래스
    width, height = [0] * 2
    def __init__(self, x, y):
        Shape.__init__(self)
        self.cx = x
        self.cy = y
        self.width = random.randrange(20, 100)
        self.height = random.randrange(20, 100)
 
    def drawShape(self) :
        # 네모 그리기
        sx1, sy1, sx2, sy2 = [0] * 4 # 왼쪽 위 X, Y와 오른쪽 아래 X,Y
        sx1 = self.cx - self.width/2
        sy1 = self.cy - self.height /2
        sx2 = self.cx + self.width/2
        sy2 = self.cy + self.height /2
        self.setPen() # 부모 클래스 메서드
        self.myTurtle.penup()
        self.myTurtle.goto(sx1, sy1)
        self.myTurtle.pendown()
        self.myTurtle.goto(sx1, sy2)
        self.myTurtle.goto(sx2, sy2)
        self.myTurtle.goto(sx2, sy1)
        self.myTurtle.goto(sx1, sy1)


## 함수 선언 부분 ##
def screenLeftClick(x,y):
    rect = Rectangle(x, y)
    rect.drawShape()

## 메인 코드 부분 ##
turtle.title('거북이로 객체지향 사각형 그리기')
turtle.onscreenclick(screenLeftClick,1)
turtle.done()