### 2024-12-19

### 파이썬 기본 문법

In [16]:
print('hello python')

hello python

In [17]:
print('hello python)

SyntaxError: unterminated string literal (detected at line 1) (1715516262.py, line 1)

In [7]:
print('hello python1') 
print('hello python2')  
print('hello python3')

hello python1
hello python2
hello python3

In [8]:
'hello python1'
'hello python2'
'hello python3'

'hello python3'

In [9]:
print(1) 
print(2) 
print(3)

1
2
3

In [10]:
print('1') 
print('2')
print('3')

1
2
3

In [11]:
print(1+2)
print('1+2')

3
1+2

1 Hello  
2 Python    
3 홍길동 나이 = 20세

## 명령문 테스트

In [15]:
print('hello') 
print('python')
print('홍길동','나이=',20,'세')

hello
python
홍길동 나이= 20 세

In [19]:
print('hello'), print('python')

hello
python

(None, None)

In [20]:
print('hi', 'python')

hi python

In [21]:
print('hi','python', sep='*')

hi*python

In [24]:
print('hi')
print('python')

hi
python

In [23]:
print('hi','python', sep='')

hipython

In [25]:
print('hi',end=' ')
print('python')

hi python

## 변수

In [38]:
name='홍길동'
age=20
print(name,'나이=',age,'세')

홍길동 나이= 20 세

In [34]:
type(name)

str

In [39]:
type(age)

int

#### 형변환

In [ ]:
str()
int()
float()
bool()

In [40]:
bool('True')

True

In [41]:
type('True')

str

In [42]:
type(True)

bool

In [45]:
bool(0)

False

In [47]:
bool('hello')

True

In [48]:
bool('')

False

In [49]:
bool(' ')

True

In [50]:
bool('0')

True

#### 산술연산자

In [53]:
5+2
5-2
5*2
5/2
5%2
5//2
5**2

25

#### 미션1

In [72]:
a=3
b=4

In [55]:
a+b

7

In [56]:
a-b

-1

In [57]:
a*b

12

In [58]:
a//b

0

In [59]:
a%b

3

In [ ]:
n=1234

In [78]:
n//1000

1

In [80]:
(n%1000)//100

2

In [81]:
(n%100)//10

3

In [82]:
n%10

4

#### 미션정답

In [86]:
n=1234
d1000=n//1000
d100=(n//100)%10
d10=(n//10)%10
d1=n%10
print(d1000,d100,d10,d1)

1 2 3 4

### 비교연산자

In [87]:
print(5==2)
print(5!=2)
print(5<2)
print(5>2)

False
True
False
True

### 논리연산자

In [88]:
print((3<5)and(3>0))
print((4<7)or(5>8))
print(not(5<9))

True
True
False

### 문자열

In [90]:
'어머님은\'자장면\'이 싫다고 하셨어'

"어머님은'자장면'이 싫다고 하셨어"

In [92]:
samplestring='life is too short'

In [93]:
len(samplestring)

17

In [104]:
samplestring[8]+samplestring[9]+samplestring[10]

'too'

In [110]:
samplestring[:4]

'life'

In [111]:
samplestring[::2]

'lf stosot'

In [95]:
samplestring[8]

't'

In [97]:
samplestring[-5]

's'

In [94]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다

In [112]:
samplestring='life is too short, you need python'

In [115]:
samplestring[0]+samplestring[9:11]+samplestring[14]+samplestring[32]+samplestring[33]+'g'

'loooong'

## 사용자 입력

In [129]:
name=input('이름을 입력하세요')
#사용자로부터 입력을 받을때까지 대기함. 괄호안은 입력 안내 문구

print('당신의 이름은 '+name+'입니다')

당신의 이름은 미룬핑입니다

In [128]:
#사용자로부터 두개의 정수를 입력 받아서 덧셈을 출력하는 프로그램을 만들어주세요요
a=input('첫번째 숫자를 입력하세요')
b=input('두번째 숫자를 입력하세요')
print(int(a)+int(b))

30

In [131]:
num1=int(input('정수1:'))
num2=int(input('정수2:'))
print(num,'+',num2,'=',num1+num2)

#적절한 형을 확인해야 한다.

20 + 20 = 30

In [132]:
a=float(input('첫값입력'))
b=float(input('두값입력'))

print(f'{a:.2f}*{b:.3f}={a*b:,.2f}')
#서식지정자

150.00*3000.000=450,000.00

In [133]:
a=float(input('첫값입력'))
b=float(input('두값입력'))

print(f'{a*b}')

500.0

In [141]:
r=float(input("반지름 입력(cm):"))
print('반지름 길이:',r)
print('둘레:',r*2*3.14)
print('넓이:',r*r*3.14)

반지름 길이: 150.698
둘레: 946.3834400000001
넓이: 71309.04582056002

In [143]:
둘레=float(input('첫값:'))
넓이=float(input('둘값:'))
print(f'{둘레:.1f}')
print(f'{넓이:.1f}')

946.4
71309.0

In [144]:
a='True'
b='False'
print(type(a))
print(a==True)

<class 'str'>
False

### 조건문 기본

In [154]:
money=False

if money:
    print('맛난거 먹기')
    print('노래방도 가고')
    print('영화도 보고')

In [160]:
result=10>4
print(result)
if result:
    print("this is test")

    result=10-3
print(result)
#0이 아닌건 참이기 때문에 6=True
if result:
    print("this is test")

True
this is test
7
this is test

In [163]:
result1=10>4
result2=False
result3=result1 and result2
if result3:
    print("this is AND")

result3=result1 or result2
if result3:
    print("this is OR")

this is OR

In [174]:
money=10-10

if money:
    print('맛난거 먹기')
else:
    print('은딘한테 얻어먹기')

print('냠냠 맛있다')

은딘한테 얻어먹기
냠냠 맛있다

In [170]:
num=int(input('숫자를 입력하세요:'))
if num%2==0:
    print('짝수입니다')
else:
    print('홀수입니다')

홀수입니다

In [178]:
score=int(input('점수를 입력하세요:'))
if score>=90:
    print('A')
elif score>=80:
    print('B')
elif score>=70:
    print('C')
elif score>=60:
    print('D')
else:
    print('F')

C

In [188]:
Birth=int(input('출생연도 끝자리를 입력하세요:'))
age=int(input("나이를 입력하세요:"))

lastdigit=Birth%10
if age>=65:
    print("언제든지 가능")
else:
    if  lastdigit in [1,6]:
        print('월요일')
    elif lastdigit in [2,7]:
        print('화요일')
    elif lastdigit in [3,8]:
        print('수요일')
    elif lastdigit in [4,9]:
        print('목요일')
    elif lastdigit in [5,0]:
        print('금요일')
    else:
        print('none')

목요일

## 2024-12-20

#### 조건문 복습

In [2]:
name=input('이름을 입력하세요')
visit=int(input('방문횟수를 입력하세요'))
#print(name,'님 안녕하세요?')
print(f'{name}님 안녕하세요?')
print(f'오늘로 {visit+1}회 방문하셨어요.')

나미님 안녕하세요?
오늘로 4회 방문하셨어요.

In [15]:
jumin=input('주민번호를 입력하세요')
gender=jumin[7]
if gender=="1":
    print('남성')
else:
    print('여성')

print('출생년도:'+jumin[:2])
print('주민등록번호 뒷자리'+jumin[7:])

남성
출생년도:94
주민등록번호 뒷자리1234567

In [5]:
jumin=input('주민번호를 입력하세요')
birth=jumin[:6]
print(f'생일(YYMMDD):{birth}')

생일(YYMMDD):95321

In [8]:
jumin=input('주민번호를 입력하세요')
lastjumin=jumin[7:]
print(f'주민등록번호 마지막부분:{lastjumin}')

주민등록번호 마지막부분:1234567

In [18]:
user_id=input('아이디를 입력하세요')
if user_id=='admin':
    print('로그인성공')
else:
    print('로그인실패')
user_pw=input('비밀번호를 입력하세요')
if user_pw=='1234':
    print('로그인성공')
else:
    print('로그인실패')

로그인성공
로그인실패

In [23]:
user_id='admin'
user_pw='1234'

input_id=input('아이디를 입력하세요:')
input_pw=input('비밀번호를입력하세요:')
if user_id==input_id and user_pw==input_pw:
    print('로그인성공')
else:
    print('로그인실패')

로그인실패

#### While 반복문

In [ ]:
while 조건식 :
    명령어:

In [25]:
i=0
while i<5:
    print('hello python')
    i=i+1
print('반복문종료')

hello python
hello python
hello python
hello python
hello python
반복문종료

In [30]:
i=0
while i<20:
    i=i+1 #i+=1
    print(i,end=" ")
print('반복문종료')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 반복문종료

In [39]:

endvalue=int(input('숫자를입력하세요'))
hap=0                            #초기값값
i=0
while i<endvalue:               
    i=i+1                        #i+=1
    hap=hap+i                    #hap+=i
    #print(i,end=" ")             
print(f'1부터{endvalue}까지의 합은 {hap}입니다')

1부터5까지의 합은 15입니다

In [45]:
prompt="""
1.ADD
2.Del
3.Quit
"""

input_num=0

while input_num!=3:            #3번이 아닌 이상 계속 돌아아
    print(prompt)
    input_num=int(input())

1.ADD
2.Del
3.Quit


1.ADD
2.Del
3.Quit

In [ ]:
for 변수 in 이터러블:
    반복명령어

In [44]:
for i in"hello":
    print('hello python')

hello python
hello python
hello python
hello python
hello python

In [47]:
for i in"hello":
    print(i)

h
e
l
l
o

In [48]:
for i in range(5):
    print('hello python')

hello python
hello python
hello python
hello python
hello python

In [49]:
for i in range(5):
    print(i)

0
1
2
3
4

In [50]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [51]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [53]:
for i in range(10,-1,-2):
    print(i)

10
8
6
4
2
0

In [60]:
endvalue=int(input('숫자를입력하세요'))
hap=0                            #초기값
i=0
for i in range(0,endvalue):               
    i=i+1                        #i+=1
    hap=hap+i                    #hap+=i
    #print(i,end=" ")             
print(f'1부터{endvalue}까지의 합은 {hap}입니다')

1부터10까지의 합은 55입니다

In [64]:
endvalue=10
hap=0                            #초기값
for i in range(1,endvalue+1):                                      #i+=1
    hap=hap+i                    #hap+=i
    #print(i,end=" ")             
print(f'1부터{endvalue}까지의 합은 {hap}입니다')

1부터10까지의 합은 55입니다

In [85]:
i=1
dan=i*2
hap=1
for i in range(2,20,dan):
    hap=hap*2
    print(i,end=" ")

i=1
dan=i*3
hap=1
for i in range(3,27,dan):
    hap=hap*3
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 3 6 9 12 15 18 21 24

In [113]:
for i in range(1,10):
    for dan in range(2,10):
        print(f'{dan}*{i:2}={dan*i:2}',end="\t")
    print()

2* 1= 2	3* 1= 3	4* 1= 4	5* 1= 5	6* 1= 6	7* 1= 7	8* 1= 8	9* 1= 9
2* 2= 4	3* 2= 6	4* 2= 8	5* 2=10	6* 2=12	7* 2=14	8* 2=16	9* 2=18
2* 3= 6	3* 3= 9	4* 3=12	5* 3=15	6* 3=18	7* 3=21	8* 3=24	9* 3=27
2* 4= 8	3* 4=12	4* 4=16	5* 4=20	6* 4=24	7* 4=28	8* 4=32	9* 4=36
2* 5=10	3* 5=15	4* 5=20	5* 5=25	6* 5=30	7* 5=35	8* 5=40	9* 5=45
2* 6=12	3* 6=18	4* 6=24	5* 6=30	6* 6=36	7* 6=42	8* 6=48	9* 6=54
2* 7=14	3* 7=21	4* 7=28	5* 7=35	6* 7=42	7* 7=49	8* 7=56	9* 7=63
2* 8=16	3* 8=24	4* 8=32	5* 8=40	6* 8=48	7* 8=56	8* 8=64	9* 8=72
2* 9=18	3* 9=27	4* 9=36	5* 9=45	6* 9=54	7* 9=63	8* 9=72	9* 9=81

In [93]:
dan=2
i=1
while i<=9:
    print(f'{dan}*{i}={dan*i:3}')
    i+=1

2*1=  2
2*2=  4
2*3=  6
2*4=  8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18

In [116]:
#break

hap=0
for i in range(1,11):
    hap+=i
    if hap>=20:
        print(i,hap)
        break


print(hap)

6 21
21

In [117]:
prompt="""
1.ADD
2.Del
3.Quit
"""

input_num=0

while input_num!=3:            #3번이 아닌 이상 계속 돌아아
    print(prompt)
    input_num=int(input())
    if input_num==3:
        break

1.ADD
2.Del
3.Quit

In [121]:
#continue

hap=0
for i in range(1,11):
    if i%2==0:
        continue
    print(i,end=" ")
    hap=hap=hap+i


print('\n',hap)

1 3 5 7 9
 25

In [140]:

import random
answer=random.randint(1,10)
print(answer)
 
while True:
    input_answer=int(input('숫자를 입력하세요')) 
    if input_answer==answer:
        print('정답입니다')
        break
    elif input_answer>answer:
        print('큽니다')
    else:
        print('작습니다다')

4
큽니다
큽니다
큽니다
정답입니다

In [139]:
#숫자맞추기게임

import random

anwser=random.randint(1,100)
print(answer)

while True:
    guess=int(input('숫자를 입력하세요'))
    if guess==answer:
        print('정답입니다.')
        break
    elif guess>answer:
        print('너무커요')
    else:
        print('너무작아요')

7
너무커요
너무커요
너무커요
정답입니다.

In [148]:
#20보다 작은 정수 중에서 3의 배수와 5의 배수를 제외하고 출력해 봅시다.
#20보다 작은 정수를 출력

# num=(1,19)range를 넣으면 continue가 필요없다...(?) 컨+/ 해당 라인 전체주석석
print(num)

while True:
    if 3bae==num*3:
        continue
    if 5bae==num*5:
        continue
    break
   


#3의 배수 출력 제외
#5의 배수 출력 제외

SyntaxError: invalid decimal literal (3164850582.py, line 8)

In [154]:
x=0

while True:
    x=x+1
    if x>20:
        break
    
    if x%3==0:
        #print(x,'3의 배수네'):
        continue
    elif x%5==0:
        continue
    print(x,end=" ")

1 2 4 7 8 11 13 14 16 17 19

In [188]:
#크리스마스 트리~
hap=0
for i in range(1,3):
    if i%2==0:
        continue
    hap=hap=hap+i

*

In [190]:
for i in range(1,11):
    print('*'*(2*i-1))

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

#### list

In [191]:
a=[1,2,3]                       #list 자료형
b=['life','is','too','short']
c=[1,'hello']
d=[1,'hello',[2,'hi']]

<class 'list'>

In [192]:
b=['life','is','too','short']

b[0]

'life'

In [193]:
b=['life','is','too','short']

b[:3]

['life', 'is', 'too']

In [194]:
b[1:]

['is', 'too', 'short']

In [195]:
d=[1,'hello',[2,'hi']]#파이선은 숫자형, 문자형, 리스트안에 리스트 가능

d[2]

[2, 'hi']

In [198]:
d=[1,'hello',[2,'hi']]
d[2][1]

'hi'

In [203]:
d[0:2]

[1, 'hello']

In [205]:
d[1:2]

['hello']

In [217]:
a=[1,2,3,['a','b','c'],4,5]
a[3][:2]

['a', 'b']

In [222]:
a=[10,20,30,40,50]

In [227]:
print(a)

a[:5]=[100]

print(a)

[100, 100]
[100]

In [228]:
fruits=['apple','banana']

In [235]:
print(fruits)
fruits.append('cherry') #append를 통해 요소를 추가가
fruits.insert(1,'mango')
print(fruits)

['apple', 'mango', 'banana', 'cherry']
['apple', 'mango', 'mango', 'banana', 'cherry', 'cherry']

In [236]:
print(fruits)
fruits.pop()
print(fruits)

['apple', 'mango', 'mango', 'banana', 'cherry', 'cherry']
['apple', 'mango', 'mango', 'banana', 'cherry']

In [237]:
print(fruits)
fruits.pop(1)
print(fruits)

['apple', 'mango', 'mango', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']

In [238]:
print(fruits)
fruits.remove('apple')
print(fruits)

['apple', 'mango', 'banana', 'cherry']
['mango', 'banana', 'cherry']

In [245]:
score=[100,30,50,80,90,70]

In [247]:
print(score)
score.sort(reverse=True)    #고정값은 오름차순, reverse=True는 내림차순순
print(score)

[70, 90, 80, 50, 30, 100]
[100, 90, 80, 70, 50, 30]

In [248]:
print(score)
score.reverse()
print(score)

[100, 90, 80, 70, 50, 30]
[30, 50, 70, 80, 90, 100]

In [249]:
score=[100,50,30,50,80,50,90,70]

In [250]:
score.count(50)

3

In [251]:
sum(score)

520

In [252]:
max(score)

100

In [253]:
print(sum(score))

520

In [255]:
sum(score)/len(score)

65.0

In [256]:
marks=[90,23,67,45,80]

In [258]:
for i in marks:
    print(i)
    if i>60:
        print('합격입니다')
    else:
        print('불합격입니다')

90
합격입니다
23
불합격입니다
67
합격입니다
45
불합격입니다
80
합격입니다

In [259]:
bunho=0
for mark in marks:
    bunho+=1
    if mark>=60:
        print(f'{bunho}번 학생은 합격입니다')
    else:
        print(f'{bunho}번 학생은 불합격입니다')

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [261]:
print('끝말잇기 게임')
print('시작')
var='가나다'

print(var)
while True:
    ans=input('단어를 입력: ')
    if var[-1]==ans[0]:
        #끝말잇기 되었을때 처리
        var=ans
        print(ans)
    else:
        print('땡')
        break

끝말잇기 게임
시작
가나다
다람쥐
땡